.idea/
target/
*.iml
*.log
*.png
/monitor-manage/dist/

monitor-log-add/dist/
monitor-log-add/node_modules/

beats/
influx-proxy/
log-consumer/
monitor-console/
monitor-manage/
monitor-manage-app/
monitor-manage-application/
monitor-manage-datasource/
monitor-manage-machine/
monitor-manage-project/
monitor-manage-task/
grafana-ext/bin/
grafana-ext/pkg/