<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creditease.monitor.mybatis.sqllite.grafana.mapper.ex.MonitorMachineExMapper" >
  <resultMap id="BaseResultMap" type="com.creditease.monitor.mybatis.sqllite.grafana.po.MonitorMachine" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="machine_name" property="machineName" jdbcType="VARCHAR" />
    <result column="machine_ip" property="machineIp" jdbcType="VARCHAR" />
    <result column="operate_system_type" property="operateSystemType" jdbcType="TINYINT" />
    <result column="machine_desc" property="machineDesc" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, project_id, machine_name, machine_ip, operate_system_type, machine_desc, create_time, 
    update_time
  </sql>

  <select id="selectOneByMachineName" parameterType="string" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM monitor_machine
    WHERE machine_name = #{machineName}
  </select>

  <select id="selectByMachineIdAndProjectId" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from monitor_machine
    where id = #{0} AND project_id=#{1}
  </select>


  <select id="selectByMachineNameAndProjectId" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from monitor_machine
    where machine_name like #{0} AND project_id=#{1}
  </select>



  <select id="selectByMachineName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from monitor_machine
    where machine_name like #{machineName}
  </select>

  <select id="selectOneByProjectId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM monitor_machine
    WHERE project_id = #{projectId}
    limit 1
  </select>


  <select id="selectAllAuthorizeMachines" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from monitor_machine
  </select>

  <select id="selectAllAuthorizeMachinesByProjectId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from monitor_machine
    WHERE project_id = #{projectId}
  </select>

</mapper>