<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creditease.monitor.mybatis.sqllite.grafana.mapper.ex.SessionExMapper" >
  <resultMap id="BaseResultMap" type="com.creditease.monitor.mybatis.sqllite.grafana.po.Session" >
    <id column="key" property="key" jdbcType="VARCHAR" />
    <result column="expiry" property="expiry" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    key, expiry
  </sql>
  <select id="selectExpiryByKey" resultType="java.lang.Integer" parameterType="java.lang.String">
    select
    expiry
    from session
    where session.key = #{key}
  </select>
</mapper>