<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creditease.monitor.mybatis.sqllite.grafana.mapper.MonitorTaskMapper" >
  <resultMap id="BaseResultMap" type="com.creditease.monitor.mybatis.sqllite.grafana.po.MonitorTask" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="task_name" property="taskName" jdbcType="VARCHAR" />
    <result column="data_source_log" property="dataSourceLog" jdbcType="VARCHAR" />
    <result column="machine_id" property="machineId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="cut_template" property="cutTemplate" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, project_id, task_name, data_source_log, machine_id, status, cut_template, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from monitor_task
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from monitor_task
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.creditease.monitor.mybatis.sqllite.grafana.po.MonitorTask" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into monitor_task (project_id, task_name, data_source_log,
      machine_id, status, cut_template, 
      create_time, update_time)
    values (#{projectId,jdbcType=INTEGER}, #{taskName,jdbcType=VARCHAR}, #{dataSourceLog,jdbcType=VARCHAR}, 
      #{machineId,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{cutTemplate,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.creditease.monitor.mybatis.sqllite.grafana.po.MonitorTask" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into monitor_task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="taskName != null" >
        task_name,
      </if>
      <if test="dataSourceLog != null" >
        data_source_log,
      </if>
      <if test="machineId != null" >
        machine_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="cutTemplate != null" >
        cut_template,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="taskName != null" >
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceLog != null" >
        #{dataSourceLog,jdbcType=VARCHAR},
      </if>
      <if test="machineId != null" >
        #{machineId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="cutTemplate != null" >
        #{cutTemplate,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.creditease.monitor.mybatis.sqllite.grafana.po.MonitorTask" >
    update monitor_task
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="taskName != null" >
        task_name = #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceLog != null" >
        data_source_log = #{dataSourceLog,jdbcType=VARCHAR},
      </if>
      <if test="machineId != null" >
        machine_id = #{machineId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="cutTemplate != null" >
        cut_template = #{cutTemplate,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.creditease.monitor.mybatis.sqllite.grafana.po.MonitorTask" >
    update monitor_task
    set project_id = #{projectId,jdbcType=INTEGER},
      task_name = #{taskName,jdbcType=VARCHAR},
      data_source_log = #{dataSourceLog,jdbcType=VARCHAR},
      machine_id = #{machineId,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      cut_template = #{cutTemplate,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>