<div align="center" ng-controller="ctrl.monitorManageController">
    <form action="http://www.cctv.com" method="post">
        <input type="text" class="bigtext" name="taskName" id="taskName" placeholder=" 根据任务名称模糊查找" ng-model="taskName"></input>
        <input type="button" value="搜索" ng-click="searchFunction()" />
        <input type="button" value="新增" ng-click="addFunction()"/>
    </form>
    <br/>
    <table border="2" width="100%" align="center">
        <tr >
            <td align="center">序号</td>
            <td align="center">任务Id</td>
            <td align="center">任务名称</td>
            <td align="center">状态</td>
            <td align="center">数据源</td>
            <td align="center">创建时间</td>
            <td align="center">更新时间</td>
            <td align="center" colspan="3">操作</td>
        </tr>
        <tr ng-repeat="task in taskArray">

            <td>{{$index+1}}</td>
            <td>{{task.id}}</td>
            <td>{{task.taskName}}</td>
            <td>{{task.status}}</td>
            <td>主机:{{task.dataSourceIp}}:{{task.dataSourcePort}}&nbsp;&nbsp;文件位置:{{task.dataSourceLog}}</td>
            <td>{{task.createTime| date:"yyyy-MM-dd HH:mm:ss"}}</td>
            <td>{{task.updateTime| date:"yyyy-MM-dd HH:mm:ss"}}</td>
            <td  align="center">
                <input type="button" value="暂停" ng-if="task.status=='启动'" class="btn btn-primary" ng-click="startOrPauseTaskFuction(task.id)"/>
                <input type="button" value="启动" ng-if="task.status=='暂停'" class="btn btn-primary" ng-click="startOrPauseTaskFuction(task.id)"/>
            </td>
            <td  align="center"><input type="button" value="编辑" class="btn btn-primary" ng-click="editTask(task.id)"/></td>
            <td  align="center"><input type="button" value="删除" class="btn btn-primary" ng-click="deleteTaskFunction(task.id)"/></td>
        </tr>
    </table>
    <br/>


    共69条&nbsp;&nbsp;
    页面5/10
    <input id="lastpage" type="button" value="上一页">
    <input id="nextpage" type="button" value="下一页">
    每页显示:
    <select ng-model="pageSize" ng-init="pageSize='10'" size="1" style="width: auto">
        <option value="10">10
        <option value="15">15
        <option value="20">20
    </select>条


</div>
<style>
    .bigtext { height: 38px; width: 350px; }
</style>